# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
gradle/
*.gradle
gradlew
gradlew.bat
.gradletasknamecache
*.gradle

# Intellij
.idea/
*.iws
/out/
.idea_modules/

# helm
charts/

### Openshift
openshift/

### Documentation
*.adoc
*.md

# source
src/
.gitignore
Jenkinsfile
LICENSE
*.md